body {
  background-color: rgb(198, 198, 198);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  font-size: 48px;
  margin-top: 0;
  padding-top: 40px;
  text-align: center;
}

h2 {
  font-size: 38px;
}

header {
  background-color: dodgerblue;
}

header img {
  width: 125px;
}

.nav ul {
  list-style-type: none;
  display: flex;
  padding: 0 0 25px 0;
  justify-content: space-around;
}

.nav ul li {
  display: inline;
  margin-right: 50px;
}

.nav ul a {
  color: whitesmoke;
  font-size: 22px;
  text-decoration: none;
}

.nav ul a:hover {
  color: lightblue;
  text-decoration: underline;
}

main,
footer {
  margin: 0 5%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  font-weight: bold;
  color: white;
  font-size: 26px;
  background-color: dodgerblue;
}

@media all and (max-width: 520px) {
  body {
    background-color: red;
  }

  .nav ul li {
    display: block;
  }

  .nav ul {
    text-align: left;
  }
}
